Repository co-log/co-log, pull requests merged in 2018-12, with the labels that each got.

#88 Added overLogAction to HasLog typeclass
  co-log-core/CHANGELOG.md
  co-log-core/src/Colog/Core/Class.hs
Labels: package:co-log-core, refactoring

#90 [#76] Added function for generating markdown table with benchmarks
  co-log-benchmark/Main.hs
Labels: benchmarks

#91 [#89] Add cmapMaybe function
  co-log-core/src/Colog/Core/Action.hs
Labels: enhancement, package:co-log-core
