Repository co-log/co-log, pull requests merged in 2018-11, with the labels that each got.

#71 Use standard extensions in co-log
  co-log-core/co-log-core.cabal
  co-log-core/src/Colog/Core/Action.hs
  co-log/co-log.cabal
  co-log/src/Colog/Message.hs
  co-log/src/Colog/Monad.hs
Labels: refactoring

#62 [#20] Add logger rotation action
  co-log/co-log.cabal
  co-log/src/Colog.hs
  co-log/src/Colog/Actions.hs
  co-log/src/Colog/Message.hs
  co-log/src/Colog/Rotation.hs
Labels: Hacktoberfest, log-action, package:co-log

#75 [#74] Remove relude dependency
  .hlint.yaml
  .travis.yml
  co-log-core/src/Colog/Core/Action.hs
  co-log-core/test/Doctests.hs
  co-log/CHANGELOG.md
  co-log/co-log.cabal
  co-log/example/Main.hs
  co-log/src/Colog/Actions.hs
  co-log/src/Colog/Concurrent.hs
  co-log/src/Colog/Concurrent/Internal.hs
  co-log/src/Colog/Contra.hs
  co-log/src/Colog/Message.hs
  co-log/src/Colog/Monad.hs
  co-log/src/Colog/Pure.hs
  co-log/src/Colog/Rotation.hs
  co-log/src/Prelude.hs
Labels: package:co-log, refactoring

#72 [#13] Improve documentation and description
  .travis.yml
  co-log-core/CHANGELOG.md
  co-log-core/co-log-core.cabal
  co-log-core/src/Colog/Core/Action.hs
  co-log-core/src/Colog/Core/IO.hs
  co-log-core/test/Doctests.hs
  co-log/CHANGELOG.md
  co-log/co-log.cabal
  stack.yaml
Labels: doc, package:co-log-core

#81 Add badges and fix docs
  co-log-core/README.md
  co-log-core/src/Colog/Core/Action.hs
  co-log/co-log.cabal
Labels: doc, package:co-log-core

#83 Add example of using co-log with custom monad
  co-log/co-log.cabal
  co-log/example/Main.hs
Labels: doc, package:co-log, package:co-log-core

#86 Fix mismatching Changelog file in co-log-benchmark
  co-log-benchmark/CHANGELOG.md
Labels: bug, doc

#67 Added some property tests
  co-log/co-log.cabal
  co-log/test/Property.hs
Labels: Hacktoberfest, tests

#87 Add example of using pipe operator (<&)
  co-log/example/Main.hs
Labels: doc
