Repository co-log/co-log, pull requests merged in 2018-10, with the labels that each got.

#43 Rename cbind to cmapM - #38
  co-log-core/CHANGELOG.md
  co-log-core/co-log-core.cabal
  co-log-core/src/Colog/Core/Action.hs
  co-log/co-log.cabal
  co-log/example/Main.hs
Labels: Hacktoberfest, enhancement, package:co-log, package:co-log-core

#44 Export contravariant instance from co-log directly.
  co-log-core/co-log-core.cabal
  co-log-core/src/Colog/Core/Action.hs
  co-log/co-log.cabal
  co-log/src/Colog/Contra.hs
Labels: package:co-log

#45 Introduce basic approach to concurrent log writing.
  co-log/co-log.cabal
  co-log/src/Colog/Concurrent.hs
  co-log/src/Colog/Concurrent/Internal.hs
Labels: Hacktoberfest, enhancement, log-action, package:co-log

#52 [#39] Build with GHC 8.2.2 and GHC 8.6.1 on CI
  .travis.yml
  co-log-core/co-log-core.cabal
  co-log/README.md
  co-log/co-log.cabal
  co-log/src/Colog/Message.hs
Labels: CI, Hacktoberfest

#51 [#46] Move log actions that work with String to Colog.Core.IO
  co-log-core/CHANGELOG.md
  co-log-core/co-log-core.cabal
  co-log-core/src/Colog/Core.hs
  co-log-core/src/Colog/Core/IO.hs
  co-log/CHANGELOG.md
  co-log/co-log.cabal
  co-log/src/Colog/Actions.hs
Labels: Hacktoberfest, log-action, package:co-log, package:co-log-core

#53 [#48] adds liftLogIO
  co-log-core/CHANGELOG.md
  co-log-core/src/Colog/Core/IO.hs
Labels: Hacktoberfest, log-action, package:co-log-core

#54 Run doctests for co-log-core
  co-log-core/co-log-core.cabal
  co-log-core/tests/doctest.hs
  co-log/co-log.cabal
Labels: Hacktoberfest, doc, tests

#56 Actually exports the liftLogIO function
  co-log-core/src/Colog/Core/IO.hs
Labels: Hacktoberfest, bug, log-action, package:co-log-core

#57 [#49] Adds and exports (<&) and (&>) comibinators for LogAction
  co-log-core/CHANGELOG.md
  co-log-core/src/Colog/Core/Action.hs
Labels: Hacktoberfest, log-action

#55 [#47] Add `doctest` tests to `co-log-core` package
  co-log-core/co-log-core.cabal
  co-log-core/src/Colog/Core/Action.hs
  co-log-core/src/Colog/Core/IO.hs
  co-log-core/test/Doctests.hs
Labels: Hacktoberfest, doc, package:co-log-core, tests

#60 [#59] Removes unnecessary time extra-dep, fixing stack test
  stack.yaml
Labels: CI, bug

#64 Introduce basic benchmarks of the library.
  cabal.project
  co-log-benchmark/ChangeLog.md
  co-log-benchmark/LICENSE
  co-log-benchmark/Main.hs
  co-log-benchmark/Setup.hs
  co-log-benchmark/co-log-benchmark.cabal
  stack.yaml
Labels: Hacktoberfest, benchmarks

#65 Omit last PureLogger parameter
  co-log/src/Colog/Pure.hs
Labels: Hacktoberfest, package:co-log, pure

#66 [#63] Add `logPrint` and `logPrintStderr` to Colog.Core.IO.
  co-log-benchmark/Main.hs
  co-log-core/CHANGELOG.md
  co-log-core/src/Colog/Core/IO.hs
  co-log/example/Main.hs
Labels: Hacktoberfest, benchmarks, package:co-log-core
