Repository co-log/co-log, pull requests merged in 2018-09, with the labels that each got.

#12 [#6] Add severity and LogMessage with severity
  co-log-core/co-log-core.cabal
  co-log-core/src/Colog/Core.hs
  co-log-core/src/Colog/Core/Severity.hs
  co-log/co-log.cabal
  co-log/example/Main.hs
  co-log/src/Colog.hs
  co-log/src/Colog/Message.hs
Labels: enhancement, message, package:co-log, package:co-log-core

#16 [#9] Add Contravariant, Divisible, Decidable instances
  co-log-core/src/Colog/Core/Action.hs
  co-log/co-log.cabal
  co-log/src/Colog.hs
  co-log/src/Colog/Contra.hs
  stack.yaml
Labels: log-action, package:co-log, package:co-log-core

#15 [#7] Add ability to print time and thread id
  co-log/co-log.cabal
  co-log/example/Main.hs
  co-log/src/Colog/Actions.hs
  co-log/src/Colog/Message.hs
  co-log/src/Colog/Monad.hs
  stack.yaml
Labels: message

#23 [#8] Refactor output
  co-log/co-log.cabal
  co-log/src/Colog/Message.hs
Labels: message

#24 [#14] Show source code information
  co-log/co-log.cabal
  co-log/example/Main.hs
  co-log/src/Colog.hs
  co-log/src/Colog/Message.hs
  co-log/src/Colog/Monad.hs
  co-log/src/Colog/Name.hs
Labels: message, package:co-log

#26 [#17] Add contravariant operators
  co-log-core/src/Colog/Core/Action.hs
Labels: log-action, package:co-log-core

#25 [#18] Implement extensible message format
  co-log/co-log.cabal
  co-log/example/Main.hs
  co-log/src/Colog/Message.hs
  stack.yaml
Labels: message, package:co-log

#29 [#27] Add contravariant example
  co-log/example/Main.hs
Labels: doc, log-action, package:co-log

#30 [#21] Add pure logging
  co-log/co-log.cabal
  co-log/example/Main.hs
  co-log/src/Colog.hs
  co-log/src/Colog/Monad.hs
  co-log/src/Colog/Pure.hs
Labels: package:co-log, pure

#33 [#32] Add readme with example
  README.md
  co-log-core/README.md
  co-log/README.lhs
  co-log/README.md
  co-log/co-log.cabal
Labels: doc, package:co-log

#34 [#19] Add logException
  co-log/example/Main.hs
  co-log/src/Colog/Message.hs
Labels: enhancement, package:co-log

#35 Allow usage of MessageField with OverloadedLabels
  co-log/example/Main.hs
  co-log/src/Colog/Message.hs
Labels: enhancement, message, package:co-log

#36 Update README
  README.md
Labels: doc

#42 [#37] Add bounds to all deps
  co-log-core/CHANGELOG.md
  co-log-core/co-log-core.cabal
  co-log/CHANGELOG.md
  co-log/co-log.cabal
  co-log/example/Main.hs
  stack.yaml
Labels: enhancement, package:co-log, package:co-log-core
