Repository co-log/co-log, pull requests merged in 2019-12, with the labels that each got.

#159 [#148] Support GHC-8.8.1
  .travis.yml
  co-log-benchmark/co-log-benchmark.cabal
  co-log-core/co-log-core.cabal
  co-log-polysemy/co-log-polysemy.cabal
  co-log/co-log.cabal
  stack.yaml
Labels: CI, library, refactoring

#161 [#124] Implement concurrent playground for logging
  README.md
  co-log/co-log.cabal
  co-log/tutorials/Concurrent.hs
Labels: package:co-log, tests

#160 [#144] Add Windows CI (AppVeyor)
  README.md
  appveyor.yml
  co-log-benchmark/co-log-benchmark.cabal
  co-log/CHANGELOG.md
  co-log/co-log.cabal
  stack.yaml
Labels: CI

#163 Update license in files
  co-log-benchmark/co-log-benchmark.cabal
  co-log-core/co-log-core.cabal
  co-log-core/src/Colog/Core.hs
  co-log-core/src/Colog/Core/Action.hs
  co-log-core/src/Colog/Core/Class.hs
  co-log-core/src/Colog/Core/IO.hs
  co-log-core/src/Colog/Core/Severity.hs
  co-log-polysemy/co-log-polysemy.cabal
  co-log-polysemy/src/Colog/Polysemy.hs
  co-log-polysemy/src/Colog/Polysemy/Effect.hs
  co-log/co-log.cabal
  co-log/src/Colog.hs
  co-log/src/Colog/Actions.hs
  co-log/src/Colog/Concurrent.hs
  co-log/src/Colog/Concurrent/Internal.hs
  co-log/src/Colog/Contra.hs
  co-log/src/Colog/Message.hs
  co-log/src/Colog/Monad.hs
  co-log/src/Colog/Pure.hs
  co-log/src/Colog/Rotation.hs
Labels: doc, refactoring

#165 [#121] Deeper integration with polysemy
  co-log-polysemy/CHANGELOG.md
  co-log-polysemy/co-log-polysemy.cabal
  co-log-polysemy/src/Colog/Polysemy/Effect.hs
Labels: package:co-log-polysemy

#164 [#156] Fix docs for 'Colog.Concurrent'
  co-log/CHANGELOG.md
  co-log/src/Colog.hs
  co-log/src/Colog/Concurrent.hs
  co-log/src/Colog/Concurrent/Internal.hs
  co-log/src/Colog/Monad.hs
Labels: doc, package:co-log

#166 [#120] Improve time formatting
  co-log/CHANGELOG.md
  co-log/co-log.cabal
  co-log/src/Colog/Message.hs
  co-log/test/Property.hs
  co-log/tutorials/2-custom/Custom.md
  co-log/tutorials/Main.hs
Labels: message, package:co-log

#167 [#122] Add separate combinator
  co-log-core/CHANGELOG.md
  co-log-core/co-log-core.cabal
  co-log-core/src/Colog/Core/Action.hs
  co-log-core/src/Colog/Core/IO.hs
  co-log-core/test/Doctests.hs
Labels: package:co-log-core

#168 [#162] Write more beginner-friendly README
  README.md
Labels: doc
