Repository co-log/co-log, pull requests merged in 2019-10, with the labels that each got.

#153 Write default implementation to getLogAction via logActionL
  co-log-core/src/Colog/Core/Class.hs
Labels: package:co-log-core

#154 [#138] Add higher-order transformation function
  co-log-core/src/Colog/Core/Action.hs
Labels: log-action, package:co-log-core

#149 Issue 125 - monadic version of functions
  co-log-core/src/Colog/Core/Action.hs
Labels: enhancement, package:co-log-core
