Repository co-log/co-log, pull requests merged in 2019-05, with the labels that each got.

#104 [#103] Make Message polymorphic, improve docs
  co-log-benchmark/Main.hs
  co-log-core/co-log-core.cabal
  co-log/CHANGELOG.md
  co-log/co-log.cabal
  co-log/example/Main.hs
  co-log/src/Colog.hs
  co-log/src/Colog/Actions.hs
  co-log/src/Colog/Concurrent.hs
  co-log/src/Colog/Concurrent/Internal.hs
  co-log/src/Colog/Contra.hs
  co-log/src/Colog/Message.hs
  co-log/src/Colog/Monad.hs
  co-log/src/Colog/Pure.hs
  co-log/src/Colog/Rotation.hs
Labels: doc, enhancement, package:co-log

#105 [#101] Add logActionL lens, impove docs a bit
  co-log-core/CHANGELOG.md
  co-log-core/src/Colog/Core.hs
  co-log-core/src/Colog/Core/Action.hs
  co-log-core/src/Colog/Core/Class.hs
  co-log-core/src/Colog/Core/IO.hs
  co-log-core/src/Colog/Core/Severity.hs
Labels: doc, enhancement

#109 [#99] Add more comonadic combinators
  co-log-core/CHANGELOG.md
  co-log-core/co-log-core.cabal
  co-log-core/src/Colog/Core/Action.hs
  co-log-core/test/Doctests.hs
Labels: package:co-log-core

#108 [#98] Bump ansi-terminal to 0.9, add badges
  .travis.yml
  README.md
  co-log-benchmark/LICENSE
  co-log-benchmark/co-log-benchmark.cabal
  co-log-core/LICENSE
  co-log-core/README.md
  co-log-core/co-log-core.cabal
  co-log/LICENSE
  co-log/README.md
  co-log/co-log.cabal
  co-log/test/Property.hs
  stack.yaml
Labels: enhancement, package:co-log

#111 [#110] Add SPECIALIZE and INLINE pragmas
  co-log-core/src/Colog/Core/Action.hs
  co-log-core/src/Colog/Core/IO.hs
  co-log-core/src/Colog/Core/Severity.hs
  co-log/src/Colog/Actions.hs
  co-log/src/Colog/Message.hs
  co-log/src/Colog/Monad.hs
  co-log/src/Colog/Pure.hs
Labels: enhancement

#112 [#96] Impl Message logging actions
  co-log/CHANGELOG.md
  co-log/src/Colog/Actions.hs
Labels: message, package:co-log

#113 [#102] Implement first version of co-log-polysemy
  .travis.yml
  README.md
  cabal.project
  co-log-polysemy/CHANGELOG.md
  co-log-polysemy/LICENSE
  co-log-polysemy/README.md
  co-log-polysemy/co-log-polysemy.cabal
  co-log-polysemy/example/Main.hs
  co-log-polysemy/src/Colog/Polysemy.hs
  co-log-polysemy/src/Colog/Polysemy/Effect.hs
  stack.yaml
Labels: package:co-log-polysemy

#114 [#95] Improve bench
  README.md
  co-log-benchmark/Main.hs
Labels: benchmarks

#115 [#84] Write intro tutorial
  co-log-core/README.md
  co-log-core/co-log-core.cabal
  co-log/co-log.cabal
  co-log/example/1-intro/Intro.lhs
  co-log/example/1-intro/Intro.md
  co-log/example/README.md
Labels: doc

#117 [#84] Write tutorial about using co-log with custom monad
  co-log-core/co-log-core.cabal
  co-log-polysemy/co-log-polysemy.cabal
  co-log/co-log.cabal
  co-log/example/1-intro/Intro.md
  co-log/example/2-custom/Custom.lhs
  co-log/example/2-custom/Custom.md
  co-log/example/README.md
  co-log/src/Colog/Message.hs
Labels: doc

#118 [#78] Better docs, prepare for the release
  README.md
  co-log-core/CHANGELOG.md
  co-log-core/co-log-core.cabal
  co-log-core/src/Colog/Core.hs
  co-log-core/src/Colog/Core/Action.hs
  co-log-core/src/Colog/Core/Class.hs
  co-log-core/src/Colog/Core/IO.hs
  co-log-core/src/Colog/Core/Severity.hs
  co-log-polysemy/CHANGELOG.md
  co-log-polysemy/co-log-polysemy.cabal
  co-log/CHANGELOG.md
  co-log/co-log.cabal
  co-log/tutorials/1-intro/Intro.lhs
  co-log/tutorials/1-intro/Intro.md
  co-log/tutorials/2-custom/Custom.lhs
  co-log/tutorials/2-custom/Custom.md
  co-log/tutorials/Main.hs
  co-log/tutorials/README.md
Labels: doc

#127 [#126] Bump up hedgehog to 1.0
  co-log/co-log.cabal
Labels: package:co-log
