Repository co-log/co-log, pull requests merged in 2020-08, with the labels that each got.

#199 Export HasLog from Colog.Monad
  co-log/src/Colog/Monad.hs
Labels: enhancement, package:co-log

#203 [#202] Add MonadFail MonadIO and MonadThrow instances to PureLoggerT
  co-log/co-log.cabal
  co-log/src/Colog/Pure.hs
Labels: package:co-log

#205 [#197] Remove strict annotation of msgText
  co-log/src/Colog/Message.hs
Labels: message, package:co-log
