Repository co-log/co-log, pull requests merged in 2020-01, with the labels that each got.

#169 [#139] Add type-errors for `LogAction` instances
  co-log-core/CHANGELOG.md
  co-log-core/src/Colog/Core/Action.hs
Labels: enhancement, log-action, package:co-log-core

#171 Clean up before release
  .stylish-haskell.yaml
  .travis.yml
  co-log-core/CHANGELOG.md
  co-log-core/co-log-core.cabal
  co-log-core/src/Colog/Core/Action.hs
  co-log-core/src/Colog/Core/Class.hs
  co-log-core/src/Colog/Core/IO.hs
  co-log-core/src/Colog/Core/Severity.hs
  co-log-core/test/Doctests.hs
  co-log-polysemy/CHANGELOG.md
  co-log-polysemy/co-log-polysemy.cabal
  co-log/CHANGELOG.md
  co-log/co-log.cabal
  co-log/src/Colog/Concurrent.hs
  co-log/src/Colog/Message.hs
  co-log/src/Colog/Monad.hs
  co-log/src/Colog/Pure.hs
  co-log/src/Colog/Rotation.hs
  co-log/test/Property.hs
  co-log/tutorials/2-custom/Custom.md
  co-log/tutorials/Main.hs
  stack.yaml
Labels: doc, refactoring

#172 [#155] Introduce beginner-friendly alias for 'cmap'
  co-log/CHANGELOG.md
  co-log/src/Colog/Message.hs
Labels: enhancement, package:co-log

#177 Fix typos in documentation of Message.hs
  co-log/src/Colog/Message.hs
Labels: doc
